.container {
  margin: 0 auto;
  width: 100%;
}

.cards {
  display: flex;
}

.card {
  flex: 1 1 auto;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  transition: ease 0.3s;
}

.card-body {
  background-size: cover;
  height: 180px;
  position: relative;
  color: white;
}

.card-category {
  position: absolute;
  top: 10px;
  left:  10px;
  font-weight: 100;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-description h2 {
  font-weight: 700;
}

.card-description p {
  font-weight: lighter;
}



.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.card-footer p {
  color: #A7A7AE;
  font-weight: lighter;
  font-size: 12px;
}

.card-footer a {
  text-decoration: none;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;

}

.card:hover {
    margin-top: -5px;
}

.controls a {
  padding: 5px;
  color: black;
  opacity: 0.2;
}

.controls a:hover {
  color: black;
  opacity: 0.5;
}
